<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/ico/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Username</title>
</head>
<body class="profile-page-body">
    <img src="assets/svg/animoeats-logo.svg" alt="logo" class="logo">
    <div class="sidebar"></div>
    <div class="profile-page-top">
        <div class="profile-bio">
            <img class="profile-picture" src="assets/jpg/profile1.jpg" alt="prof-pic">
            <a href="user1.html" class="name-holder"><h1 class="profile-username">{{firstName}}{{lastName}}</h1></a>
            <span class="profile-helpful">
                <span class="helpful-count bold">{{helpfulCount}}</span>&nbsp;people found their reviews helpful
            </span>
            
            <div class="profile-reviews">
                <img class="icon" src="assets/svg/ind-flag-notxt.svg" alt="flag">
                <span class = "reviews-count bold">{{reviewCount}}</span>
                <span>Reviews</span>
            </div>
            
            <div class="profile-photos">
                <img class="icon" src="assets/svg/camera.svg" alt="photos">
                <span class="photos-count bold">{{photoCount}}</span>
                <span>Photos</span>
            </div>
            <span class="profile-member-since">
                Member since &nbsp;<span class="member-since-date bold">{{dateMade}}</span>
            </span>
            
            <div class="profile-description">
                {{biography}}    
            </div>

            <a href="edit-profile.html" class="update">
                <img class="icon" src="assets/svg/edit-icon.svg" alt="edit">
                Update
            </a>
            
            <span class="logout clickable">
                <img class="icon" src="assets/svg/logout-icon.svg" alt="logout">
                Log Out
            </span>
        </div>
    </div>
    <img class="waves" src="assets/svg/prof-page-bg.svg" alt="waves">
    <div class="profile-page-bot">
        <div class="carousel">
            <ul class="track">
                <li class="selected"><review-card-self></review-card-self></li>
                <li class="slide"><review-card-self></review-card-self></li>
                <li class="slide"><review-card-self></review-card-self></li>
                <li class="slide"><review-card-self></review-card-self></li>
                <li class="slide"><review-card-self></review-card-self></li>
            </ul>
            <button class="button-left"><img src="assets/svg/arrow-left.svg" alt="<<"></button>
            <button class="button-right"><img src="assets/svg/arrow-right.svg" alt=">>"></button>
        </div>
        
    </div>
    <div class="profile-footer">
        <button class="view-more-btn btn-1">View More Reviews</button>
        <button class="view-more-btn btn-2" hidden>View Top Reviews</button>
    </div>
    <div class="profile-page-more-rev">
        <review-card-self 
            profpic="../public/assets/jpg/profile1.jpg" 
            rating="2"
            post-text="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis hic illo quaerat dolorum eos odio? Autem cum, exercitationem praesentium excepturi quas tempora, nulla ducimus sunt maxime ullam, earum soluta voluptatibus placeat ratione sapiente sed odio! Vel ipsa explicabo obcaecati natus sed est consequatur repellendus odio voluptates quo qui esse temporibus aperiam porro iusto a sunt quae provident assumenda, laborum delectus cupiditate dignissimos recusandae nam! Minima tempore iste laboriosam natus, quidem esse voluptatum dolorum rerum placeat sequi. Sequi incidunt velit, ipsum error repellat repudiandae quo iste pariatur veniam impedit mollitia quis eligendi excepturi, delectus aperiam nobis commodi quisquam in ratione doloremque.",
            image1="../public/assets/jpg/preview1"
            image2="../public/assets/jpg/preview2"
            image3="../public/assets/jpg/preview3"
            image4="none"
        >
            <span slot="poster">Monica Manlises</span>
            <span slot="resto">Kuya Mel's</span>
            <span slot="post-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis hic illo quaerat dolorum eos odio? Autem cum, exercitationem praesentium excepturi quas tempora, nulla ducimus sunt maxime ullam, earum soluta voluptatibus placeat ratione sapiente sed odio! Vel ipsa explicabo obcaecati natus sed est consequatur repellendus odio voluptates quo qui esse temporibus aperiam porro iusto a sunt quae provident assumenda, laborum delectus cupiditate dignissimos recusandae nam! Minima tempore iste laboriosam natus, quidem esse voluptatum dolorum rerum placeat sequi. Sequi incidunt velit, ipsum error repellat repudiandae quo iste pariatur veniam impedit mollitia quis eligendi excepturi, delectus aperiam nobis commodi quisquam in ratione doloremque.</span>
        </review-card-self>
        
        <review-card-self></review-card-self>
        
        <review-card-self></review-card-self>

        <review-card-self></review-card-self>
        
        <review-card-self></review-card-self>
        
        <review-card-self></review-card-self>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="module">
        $('document').ready(function(){
            
            // SIDEBAR FUNCTIONALITY
            $('.sidebar').load('components/side-bar.html');

            setTimeout(function(){
                $('.side-profile').addClass('selected');
            },200);

            //CAROUSEL FUNCTIONALITY
            const buttons = $('.carousel button');
            const moveSlide = (numSlide, maxSlide, direction) => {
                $('.track li')[numSlide].className = 'slide';
                
                if (numSlide == 0){
                    $('.track').css('transform', 'translateX(calc(-470px / 2 + (-' + (numSlide + (direction == 'left' ? maxSlide-1 : 1)) + ' * (470px + 8%))))');
                    $('.track li')[numSlide + (direction == 'left' ? maxSlide-1 : 1)].className = 'selected';
                } else if (numSlide == maxSlide-1){
                    console.log(numSlide);
                    console.log(maxSlide);
                    $('.track').css('transform', 'translateX(calc(-470px / 2 + (-' + (numSlide + (direction == 'left' ? -1 : -(maxSlide-1))) + ' * (470px + 8%))))');
                    $('.track li')[numSlide + (direction == 'left' ? -1 : -(maxSlide-1))].className = 'selected';
                } else {
                    $('.track').css('transform', 'translateX(calc(-470px / 2 + (-' + (numSlide + (direction == 'left' ? -1 : 1)) + ' * (470px + 8%))))');
                    $('.track li')[numSlide + (direction == 'left' ? -1 : 1)].className = 'selected';
                }
            };

            buttons.on('click', function(e){
                let direction = e.currentTarget.className.split('-')[1];
                let selectedNum = $('.track .selected').index();
                let maxSlide = $('.track').children().length;
                moveSlide(selectedNum, maxSlide, direction);
            });

            //VIEW MORE REVIEWS FUNCTIONALITY
            const viewMore = $('.profile-footer .btn-1');
            const viewTop = $('.profile-footer .btn-2');
            viewMore.on('click', function(){
                $('.profile-page-bot').css('height', '0');
                $('.profile-page-more-rev').css('display', 'grid');
                viewMore.hide();
                viewTop.show();
            });

            viewTop.on('click', function(){
                $('.profile-page-bot').css('height', '550px');
                setTimeout(function(){
                    $('.profile-page-more-rev').hide();
                }, 500);
                    
                $('.profile-footer .btn-1').show();
                viewMore.show();
                viewTop.hide();
            })
        });
    </script>
    <script src="../src/index.js" type="module"></script>
</body>
</html>